:root {
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

.theme-dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font, serif);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

.header__title {
  margin-bottom: 40px;
  margin-top: 144px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

@media screen and (max-width: 1440px) {
  .header__title {
    margin-top: calc(36px + (144 - 36) * (100vw - 320px) / (1440 - 360));
  }
}

.content__title {
  margin: 91px 0 32px;
}

@media screen and (max-width: 1440px) {
  .content__title {
    margin: 7% 0 2.5%;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  color: currentColor;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media (min-width: 1024px) {
  .header__theme-button:hover {
    border-bottom: 1px solid currentColor;
    opacity: 0.6;
  }
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  z-index: -1;
}

.content__text-block {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__paragraph a {
  color: inherit;
}

.content__blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  margin: 0 auto 1.5em;
  inline-size: 75%;
}

.content__list {
  list-style: none;
  padding: 0 0 0 40px;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -25px;
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 4px;
  margin-inline-end: 1px;
}

.content__figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0;
  margin-top: 4px;
  border-block-end: 1px solid var(--text-color);
}

.content__card-title {
  font-size: 60px;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  margin-top: 7%;
  border: 1px solid currentColor;
}

.content__card-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  z-index: -1;
}

.footer {
  margin-block-start: 10%;
  border-block-start: 1px solid currentColor;
  padding: 2.5% 0;
  text-align: center;
}

.footer__copyright {
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.theme-dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme-dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme-dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme-dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}